[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Collagene
Exec=collagene %F
Icon=/usr/share/pixmaps/collagene_256.png
Terminal=false
Categories=Science;
StartupNotify=true
MimeType=application/vnd.collagene;
